@font-face {
  font-family: "Space Nova";
  src: url("/Fonts/space-nova-font/SpaceNova-6Rpd1.otf");
}
@font-face {
  font-family: "Second Space";
  src: url("/Fonts/second-space-font/SecondSpace-KV1go.ttf");
}

a:link,
a:visited {
  color: #f0f0f0;
  text-decoration: none;
}

a:hover {
  color: #848282;
  /* text-decoration: underline; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  background-image: url("/Images/space.png");
  background-size: cover;
  font-family: Arial, sans-serif;
}

main {
  width: 170vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 45vh;
}

main > * {
  text-decoration: none;
}

ul {
  list-style-type: "⭐";
}

.intro {
  display: grid;
  grid-column: 1 / -1;
  border: 2px solid lightblue;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 3, 56, 0.6);
  margin-bottom: 5vh;
}

.about {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0 5vh;
}

.blog {
  grid-area: 2 / 1 / 3 / 2;
  border: 2px solid lightblue;
  padding: 0 5vh;
  overflow-y: auto;
  background-color: rgba(4, 73, 96, 0.6);
  margin-right: 5vh;
}

.projects {
  grid-area: 2 / 2 / 3 / 3;
  border: 2px solid lightblue;
  padding: 0 5vh;
  overflow-y: auto;
  background-color: rgba(4, 73, 96, 0.6);
}
